* {
    margin: 0;
    padding: 0;
    
}

body{
    background-image: url('/image/deux_frames.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    list-style: none;
    font-size: 25px;
}

nav ul  {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
}

.registration {
    display: flex;
    gap: 8px;
}

.registration li a {
    text-decoration: none;
}