<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/styles.css">
</head>
<body>
    <!-- header -->
     <header>
        <div class="logo">
            <!-- image du logo -->
             <p>personnal blog</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">contact</a></li>
                <li><a href="#">blog</a></li>
                <li><a href="#">a propos</a></li>
            </ul>
        </nav>
        <div class="registration">
            <!-- inscription et connexion -->
             <li><a href="#">inscription</a></li>
             <li><a href="#">Se connecter</a></li>
        </div>
     </header>
</body>
</html>